<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @post.tittle %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>image:</strong>
  <%= image_tag @post.image.url %>
</p>

<% unless @post.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'Supprimer le favori', favorite_path(post_id: @post.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Préféré', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
 

<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post_id),class: "btn btn-warning" %>
<% end %>|
<%= link_to 'Back', posts_path, class: "btn btn-danger" %>

 