<!DOCTYPE html>
<html>
  <head>
    <tittle>InstagramApp</tittle>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-light bg-cyan p-3">
        <div class="container-fluid">
            <span class="text-uppercase">Instagram</span>

            <div class="">
                <%= link_to 'PUBLIER', new_post_path , class: "btn btn-outline-danger"%>
                <%= link_to 'View all posts', posts_path , class: "btn btn-outline-primary"%>
            </div>
        </div>
    </nav>
</header>

  <body>
    <% flash.each do |key, value| %> 
    flash.now[:danger] = 'Login failed'
    <%= content_tag(:div, value, class: "#{key}") %> 
    <% end %> 
    <% if logged_in? %> 
    <%= link_to "Profile", user_path(current_user.id) %> 
    <%= link_to "Logout", session_path(current_user.id), method: :delete %> 
    <% else %> 
    <%= link_to "Sign up", new_user_path %> 
    <%= link_to "Login", new_session_path %> 
    <% end %>
  <%= yield %>
  </body>
</html>
